@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*
	Body & HTML setup

*/
#full-height {
  display: none;
}

body, html {
  height: 100%;
}

body {
  color: #000000;
  font: 20px/30px "Outfit", sans-serif;
}
body.nav-menu-open {
  position: fixed;
  overflow: hidden;
  left: 0px;
  right: 0px;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  max-width: 720px;
  min-width: 0px;
  width: 100%;
  text-align: center;
}

.container-large {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  width: 100%;
  max-width: 1320px;
  min-width: 320px;
}

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  width: 100%;
  max-width: 2000px;
  min-width: 320px;
}

.wrap {
  position: relative;
  margin: 0 auto -90px; /* bottom is negative value of .push height */
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.push {
  height: 90px;
  background: transparent;
} /* footer height plus padding */
.padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.nomargin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #d6d3ab;
}

::selection {
  color: white;
  background: #d6d3ab;
}

:focus {
  outline: 0px none transparent;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: #CCC;
}

:-moz-placeholder { /* Firefox 18- */
  color: #CCC;
  opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #CCC;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=submit], textarea, select {
  -webkit-appearance: none;
  border-radius: 0px;
}

#preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

a, input[type=submit] {
  transition: all 300ms ease-in-out;
}
a:hover, input[type=submit]:hover {
  transition: all 300ms ease-in-out;
}

img {
  max-width: 100%;
}
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}
img:not([src]) {
  visibility: hidden;
}
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  img.alignright, img.alignleft {
    float: none;
    display: block;
    margin: 0 auto 30px;
  }
  .alignright, .alignleft {
    float: none;
    margin: 0 auto 30px;
  }
}
[class^=icon-], [class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animsition-loading {
  border: none;
  animation-iteration-count: none;
  animation-timing-function: none;
  animation-duration: 0s;
  animation-name: none;
  width: 60px;
}

@media screen and (max-width: 767px) {
  .animatedParent .animated {
    transition-property: none !important;
    animation: none !important;
    transform: none !important;
    opacity: 1;
  }
}
.wp-content p {
  margin-bottom: 48px;
}
.wp-content a.button {
  margin-bottom: 48px;
  margin-right: 24px;
}
.wp-content > :last-child {
  margin-bottom: 0px !important;
}

/** 
 Background Colors 
*/
.blue-bkg-color {
  background-color: #009cde;
}

.blue-dark-bkg-color {
  background-color: #082c8f;
}

.blue-bkg-color h1, .blue-bkg-color h2, .blue-bkg-color h3, .blue-bkg-color p,
.blue-dark-bkg-color h1,
.blue-dark-bkg-color h2,
.blue-dark-bkg-color h3,
.blue-dark-bkg-color p {
  color: #fff;
}
.blue-bkg-color h1 b, .blue-bkg-color h2 b, .blue-bkg-color h3 b, .blue-bkg-color p b,
.blue-dark-bkg-color h1 b,
.blue-dark-bkg-color h2 b,
.blue-dark-bkg-color h3 b,
.blue-dark-bkg-color p b {
  color: #fff;
}
.blue-bkg-color a::before,
.blue-dark-bkg-color a::before {
  background-color: #fff;
}

/**
 Headings 1 to 6 
*/
h1, h2 {
  color: #082c8f;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 24px;
}
h1 b {
  color: #009cde;
  font-weight: normal;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 12px;
}

h3 {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 12px;
}

h4 {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #009cde;
}

/**
 Basic Inline Links (a tag)
*/
a {
  position: relative;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a::before {
  content: " ";
  position: absolute;
  background-color: #252525;
  width: 0%;
  height: 1px;
  bottom: 0px;
  left: 0px;
  transition: all 0.4s ease-in-out;
}
a:hover::before {
  width: 100%;
}

/**
 Button Links (a tag with button class)
*/
a.button,
a.blue {
  color: #fff;
  background-color: #082c8f;
  display: inline-block;
}
a.button:hover,
a.blue:hover {
  background-color: #244bb7;
}

a.button {
  padding: 12px 70px;
  border-radius: 4px;
  text-align: center;
  min-width: 240px;
}
a.button:hover::before {
  width: 0%;
}

/**
 Icons (Icomoon)
*/
.icon-cacpro::before {
  content: "\e904";
  padding-left: 5px;
}

.icon-check::before {
  content: "\e900";
  padding-right: 12px;
  font-size: 22px;
  color: #a1d884;
}

.icon-back-arrow::before {
  content: "\e901";
  font-size: 48px;
  color: #fff;
}

.icon-forward-arrow::before {
  content: "\e902";
  font-size: 48px;
  color: #fff;
}

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 60px;
}
.nav-container img {
  height: 74px;
}
.nav-container a:hover::before {
  width: 0px;
}
.nav-container nav {
  color: #082c8f;
}
.nav-container nav ul {
  display: flex;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
  gap: 48px;
}
.nav-container nav ul a.button {
  padding: 12px 24px;
  min-width: 0px;
}

.home-hero-container {
  min-height: 720px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #009cde;
  padding: 154px 120px;
  display: flex;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
.home-hero-container #home-hero-content-container {
  width: 50%;
}
.home-hero-container #home-hero-content-container p {
  font-size: 30px;
  color: #082c8f;
  line-height: 40px;
}

.content > div {
  margin-bottom: 100px;
}

/**
Features Content
*/
#home-features-container {
  background-color: #fff;
  padding: 60px;
  display: flex;
  gap: 94px;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid #dddddd;
  margin-top: -60px;
}
#home-features-container .feature-header {
  display: flex;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
#home-features-container .feature-content {
  padding-left: 34px;
}

/**
Service Areas Content
*/
#home-service-areas-container {
  text-align: center;
}
#home-service-areas-container .wp-content {
  margin-bottom: 48px;
}
#home-service-areas-container .service-areas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-bottom: 60px;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
#home-service-areas-container .service-areas-container .service-area {
  max-width: 190px;
}
#home-service-areas-container .service-areas-container .service-area img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 190px;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#home-service-areas-container .service-areas-container .service-area p {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

/**
Testimonial Content
*/
#home-testimonial-container {
  position: relative;
  min-height: 480px;
  display: flex;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
#home-testimonial-container h3 {
  margin-bottom: 48px;
  font-weight: normal;
}
#home-testimonial-container .slider {
  z-index: 1;
  display: flex;
  gap: 180px;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
  padding: 0 180px 0 120px;
}
#home-testimonial-container .slider .slider-progress-keys {
  display: flex;
  gap: 24px;
}
#home-testimonial-container .slider .slider-progress-keys button {
  background-color: transparent;
  border: none;
}
#home-testimonial-container .gleam {
  position: absolute;
  right: 0;
  height: 100%;
}

/**
Satisfaction Content
*/
#home-satisfaction-container {
  text-align: center;
}

/**
Hiring Content
*/
#home-hiring-cta-container {
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  /* Makes each column equal width */
}
#home-hiring-cta-container div {
  flex: 1;
}
#home-hiring-cta-container .hiring-image-container img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  max-height: 100%;
  min-height: 100%;
}
#home-hiring-cta-container .hiring-content {
  display: flex;
  padding: 69px 90px;
  -moz-align-items: center;
  align-items: center;
  align-content: center;
}
#home-hiring-cta-container .hiring-content .wp-content {
  z-index: 1;
}
#home-hiring-cta-container .hiring-content .gleam {
  position: absolute;
  height: 50%;
  bottom: 0px;
  right: 0px;
}

#contact {
  text-align: center;
}

footer {
  text-align: center;
}
footer .footer-top-row {
  padding: 60px 0px;
}
footer .footer-top-row p {
  margin-bottom: 24px;
}
footer .footer-top-row img {
  width: 240px;
  margin-bottom: 48px;
}
footer .footer-bottom-row {
  font-size: 16px;
  padding: 32px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Makes each column equal width */
}
footer .footer-bottom-row div {
  flex: 1;
}
footer .footer-bottom-row div:first-child {
  text-align: left;
}
footer .footer-bottom-row div:last-child {
  text-align: right;
}
footer .footer-bottom-row a:hover {
  opacity: 60%;
}
footer .footer-bottom-row a:hover::before {
  width: 0%;
}

/**
Breakpoints
*/
@media (max-width: 1320px) {
  #home-features-container,
  #home-hiring-cta-container {
    border-radius: 0;
  }
}/*# sourceMappingURL=style.css.map */